*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
#principal{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    
}
#header{
    width: 100%;
    height: 100px;
    background: rgb(85, 85, 184);
    color: white;
    text-align: center;
    line-height: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#menu{
    background: #eee;
}
#menu ul li{
    /* display: inline-block; */
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ccc;
    
}
#menu ul li:hover {
    
    background: rgb(58, 58, 168);
    
}
#menu ul li:hover a{
    color: white;
}

.clearfix{
    float: none;
    clear: both;
}
#contenido{
    width: 69%;
    float: left;
}
#lateral{
    width: 30%;
    min-height: 500px;
    text-align: center;
    float: left;
}
#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
}
#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: red;
    color: white;
    border: 5px solid blue;
    float: left;
    margin: 20px;
    margin-left: 40px;
}
#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
    
}